body {
    background-image: url("full.jpg");
    background-color: teal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
  }